body {
  font-family: 'Patua One', cursive;
  text-align: center;
  background: linear-gradient(to right, aliceblue, azure);
}

.card {
  width: 18em;
}

#submitbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#chart {
  margin-top: 20px;
  margin-bottom: 40px;
}

div.tooltip {	
    position: absolute;
    text-align: center;
    width: 120px;
    height: 70px;
    padding: 2px;
    font: 12px sans-serif;
    background: snow;
    border: 2px;
    border-radius: 15px;
    pointer-events: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}
